.mouse_block {
  position: fixed;
  z-index: 1;
  bottom: 30px;
  display: flex;
  left: 50%;
  transform: translate(-50%, 0);
}

.mouse {
  width: 33px;
  height: 51px;
  border: 1px solid #fff;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  cursor: pointer !important;
  background-color: #000;
}

.mouse_inner {
  width: 1px;
  height: 10px;
  background-color: #29b85d;
  margin-top: 10px;
  animation-name: mouse_animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.mouse:hover {
  border-color: #29b85d;
}

.mouse:hover .mouse_inner {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}


@keyframes mouse_animation {
  0% {
    /* margin-top: 10px; */
    transform: translateY(0px);
  }
  50% {
    transform: translateY(18px);
  }
  100% {
    transform: translateY(0px);
    /* margin-top: 30px; */
  }
}
